:root {
  --pas-txt: #212121;
  --act-link-txt: #2196F3;
  --act-btn-txt: #FFFFFF;
  --hd-cont-txt: #757575;
  --ftr-cont-txt: rgba(255, 255, 255, 0.6);
  --sol-bcg: #2F303A;
  --hero-bcg: #E5E5E5;
  --team-bcg: #F5F4FA;
  --trnstn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--pas-txt);
  background-color: var(--act-btn-txt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.logo-blue {
  color: var(--act-link-txt);
}

.social {
  display: flex;
  gap: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social__link:hover, .social__link:focus {
  background-color: var(--act-link-txt);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ECECEC;
  background: var(--act-btn-txt);
}
.header .container {
  display: flex;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--pas-txt);
}

.header__menu {
  display: flex;
}

.header__item {
  margin-right: 50px;
}
.header__item:last-child {
  margin-right: 0;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--pas-txt);
  transition: color var(--trnstn);
}
.header__link .current {
  color: var(--act-link-txt);
}
.header__link:hover, .header__link:focus {
  color: var(--act-link-txt);
}

.current {
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0px;
  bottom: 0px;
  background-color: #2196F3;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__mail {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--hd-cont-txt);
  transition: color var(--trnstn);
}
.header__mail:hover, .header__mail:focus {
  color: var(--act-link-txt);
}

.header__tel {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--hd-cont-txt);
  transition: color var(--trnstn);
}
.header__tel:hover, .header__tel:focus {
  color: var(--act-link-txt);
}

.mail-icon,
.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.solutions {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/solution.jpg);
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--act-btn-txt);
}

.solutions__button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--act-btn-txt);
  background: var(--act-link-txt);
  cursor: pointer;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: var(--hero-bcg);
}

.benefits__menu {
  display: flex;
}

.benefits__item {
  width: 270px;
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-color: var(--team-bcg);
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna_1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock_2.svg);
}

.icon-comp::before {
  background-image: url(../images/comp_3.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut_4.svg);
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 1.7142857143;
  color: var(--hd-cont-txt);
}

.doing {
  padding-bottom: 94px;
  border-color: var(--hero-bcg);
}

.doing__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
}

.doing__menu {
  display: flex;
}

.doing__item {
  margin-right: 30px;
  position: relative;
}
.doing__item:last-child {
  margin-right: 0;
}

.doing__label {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--act-btn-txt);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: var(--team-bcg);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
}

.team__menu {
  display: flex;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--act-btn-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.team__skill {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--hd-cont-txt);
}

.team--menu {
  justify-content: center;
}

.team--link {
  transition: background-color var(--trnstn);
}
.team--link:hover, .team--link:focus {
  background-color: var(--act-link-txt);
}
.team--link:hover .team--icon, .team--link:focus .team--icon {
  fill: var(--act-btn-txt);
}

.team--icon {
  fill: #afb1b8;
  transition: fill var(--trnstn);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
}

.client__menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color var(--trnstn);
}
.client__link:hover, .client__link:focus {
  border-color: var(--act-link-txt);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--act-link-txt);
}

.client__icon {
  fill: #afb1b8;
  transition: fill var(--trnstn);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-b {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-b-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background-color: var(--team-bcg);
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--act-link-txt);
  color: var(--act-btn-txt);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-m-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-m-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-m-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-m-link {
  display: block;
  transition: box-shadow var(--trnstn);
}
.portfolio-m-link:hover, .portfolio-m-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-m-link:hover .portfolio-m-overtext, .portfolio-m-link:focus .portfolio-m-overtext {
  transform: translateY(0%);
}

.portfolio-m-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-m-overtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--act-btn-txt);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--trnstn);
  overflow: auto;
}

.portfolio-m-project {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-m-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--pas-txt);
}

.portfolio-m-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--hd-cont-txt);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sol-bcg);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.contact {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--act-btn-txt);
}

.address {
  font-style: normal;
}

.address__item {
  display: block;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  line-height: 1.7142857143;
  color: var(--act-btn-txt);
  transition: color var(--trnstn);
}
.address__map:hover, .address__map:focus {
  color: var(--act-link-txt);
}

.address__mail {
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--trnstn);
}
.address__mail:hover, .address__mail:focus {
  color: var(--act-link-txt);
}

.address__tel {
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--trnstn);
}
.address__tel:hover, .address__tel:focus {
  color: var(--act-link-txt);
}

.join {
  margin-right: 93px;
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--act-btn-txt);
}

.join__link {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--trnstn);
}
.join__link:hover, .join__link:focus {
  background-color: var(--act-link-txt);
}

.join__icon {
  fill: var(--act-btn-txt);
}

.subscriber__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--act-btn-txt);
}

.subscriber__form {
  display: flex;
}

.subscriber__field {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color var(--trnstn);
}
.subscriber__field:hover, .subscriber__field:focus {
  border-color: var(--act-link-txt);
}
.subscriber__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscriber__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--act-link-txt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--act-btn-txt);
  cursor: pointer;
}

.subscriber__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--trnstn), visibility var(--trnstn);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--act-btn-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--trnstn);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--act-btn-txt);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-icon {
  transition: fill var(--trnstn);
}
.modal-close:hover .modal-close-icon, .modal-close:focus .modal-close-icon {
  fill: var(--act-link-txt);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.injection {
  text-align: center;
}

.injection-label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--hd-cont-txt);
}

.injection-field {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--trnstn);
}
.injection-field:focus {
  border-color: var(--act-link-txt);
}
.injection-field:focus + .injection-icon {
  fill: var(--act-link-txt);
}
.injection-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.injection-wrap {
  position: relative;
}

.injection-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--trnstn);
}

.injection-textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--trnstn);
}
.injection-textarea:focus {
  border-color: var(--act-link-txt);
}
.injection-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.injection-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--hd-cont-txt);
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--pas-txt);
  border-radius: 2px;
  transition: border-color var(--trnstn);
}
.injection-check:focus + .injection-policy .check-box {
  border-color: var(--act-link-txt);
}
.injection-check:checked + .injection-policy .check-box {
  background-color: var(--act-link-txt);
  border: none;
}

.check-icon {
  fill: transparent;
}
.injection-check:checked + .injection-policy .check-icon {
  fill: var(--act-btn-txt);
}

.injection-link {
  color: var(--act-link-txt);
}

.injection-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--act-link-txt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--act-btn-txt);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */