.benefits {
    padding: 60px 0px;        
    
    @include desktop {
        padding: 94px 0px;
        border-color: var(--hero-bcg);
        }
}

.benefits__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

.benefits__item {
    width: 100%;

    @include tablet {
        width: calc((100% - 30px) / 2);
    }

    @include desktop {
        width: calc((100% - 90px) / 4);
    }

        &::before {
            display: block;
            content: "";
            height: 120px;
            background-size: 70px 70px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 4px;
            background-color: var(--team-bcg);
            margin-bottom: 30px;
            }
        }


.icon-antenna::before {
    background-image: url(../images/antenna_1.svg);
}

.icon-clock::before {
    background-image: url(../images/clock_2.svg);
}

.icon-comp::before {
    background-image: url(../images/comp_3.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut_4.svg);
}

.benefits__title {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    
    
    @include tablet {
        text-align: left;
    }
}

.benefits__text {    
        color: var(--hd-cont-txt);
        line-height: calc(24/14);        
    } 