.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
}

.logo-blue {
    color: var(--act-link-txt);
}

.social {
    display: flex;
    gap: 10px;
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
    &:hover,
    &:focus {
        background-color: var(--act-link-txt);
        }
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid orange;
    
    @include mobile {
        max-width: 480px;        
    }

    @include tablet {
        max-width: 768px;
        }
    
    @include desktop {
        max-width: 1200px;
        }
}
    
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
